# Dependencies
/node_modules
/vendor

# Laravel specific
/public/build
/public/hot
/public/storage
/public/livewire
/storage/*.key
/bootstrap/compiled.php

# Environment files
.env
.env.backup
.env.production

# Testing
/.phpunit.cache
.phpunit.result.cache

# Homestead
Homestead.yaml
Homestead.json
/.vagrant

# IDE & Editors
/.fleet
/.idea
/.vscode

# Logs & Debug
npm-debug.log
yarn-error.log

# Authentication
auth.json

# Public HTML (if using alternative public path)
/public_html/storage
/public_html/hot
